{
    "twitch": {
        "client_id": "<client-id>",
        "redirect_uri": "http://localhost/callback",
        "response_type": "token",
        "scope": [
            "channel:manage:redemptions",
            "channel:read:redemptions"
        ]
    }
}