.navbarContainer {
  width: 100%;
  height: 30px;
  text-align: center;
  display: flex;
  background-image: linear-gradient(
    45deg,
    rgba(0, 1, 127, 0.7) 10%,
    rgba(0, 216, 255, 0.5)
  );
  box-shadow: 0 3px 5px black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 0.8px solid black;
}

.navbarContainer > a {
  margin: auto;
}
